DirectoryIndex index.php
#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteEngine On
RewriteRule ^home?$ index.php
RewriteRule ^index?$ index.php
RewriteRule ^mbtbb?$ mbtbb.php
RewriteRule ^mbbtb_brochure?$ mbbtb_brochure.php
RewriteRule ^application?$ application.php
RewriteRule ^application_bm?$ application_bm.php
RewriteRule ^application_bam?$ application_bam.php
RewriteRule ^application_bmm?$ application_bmm.php
RewriteRule ^application_re?$ application_re.php
RewriteRule ^certificate?$ certificate.php
RewriteRule ^certificate_redeem?$ certificate_redeem.php
ErrorDocument 404 underconstruction

RewriteRule ^faqs?$ faqs.php
RewriteRule ^contact?$ contact.php
RewriteRule ^contacting?$ contacting.php
RewriteRule ^login?$ login.php
RewriteRule ^logining?$ views/logining.php
RewriteRule ^logout?$ views/logout.php
RewriteRule ^register?$ register.php
RewriteRule ^registering?$ registering.php


RewriteRule ^about?$ about.php
RewriteRule ^experts?$ experts.php
RewriteRule ^projects?$ projects.php
RewriteRule ^news?$ news.php
RewriteRule ^contact?$ contact.php
RewriteRule ^contacting?$ contacting.php
RewriteRule ^cases?$ cases.php
RewriteRule ^knowledge?$ knowledge.php
RewriteRule ^podcast?$ podcast.php
RewriteRule ^report?$ report.php

RewriteRule ^career?$ career.php

RewriteRule ^cannabis?$ cannabis.php


RewriteRule ^faqs?$ faqs.php
RewriteRule ^greetings?$ greetings.php
RewriteRule ^values?$ values.php
RewriteRule ^donate?$ donate.php
RewriteRule ^cooperation?$ cooperation.php
RewriteRule ^become?$ become.php
RewriteRule ^report?$ report.php
RewriteRule ^qrcheck?$ qrcheck.php
RewriteRule ^events?$ events.php
RewriteRule ^history?$ history.php
RewriteRule ^membership?$ membership.php
RewriteRule ^partners?$ partners.php
RewriteRule ^members?$ members.php
RewriteRule ^schedule?$ schedule.php
RewriteRule ^events?$ events.php
RewriteRule ^events1?$ events1.php
RewriteRule ^dashboard?$ dashboard.php
RewriteRule ^dashboard1?$ dashboard1.php
RewriteRule ^dashboard2?$ dashboard2.php
RewriteRule ^history?$ history.php
RewriteRule ^summit?$ summit.php




RewriteRule ^submit?$ submit.php

RewriteRule ^register?$ register.php
RewriteRule ^register_individual?$ register_individual.php
RewriteRule ^register_organisation?$ register_organisation.php
RewriteRule ^registering_individual?$ registering_individual.php
RewriteRule ^registering_organisation?$ registering_organisation.php

RewriteRule ^training?$ training.php
RewriteRule ^assessment?$ assessment.php

RewriteRule ^assessment_nuat?$ assessment_nuat.php
RewriteRule ^assessment_iso?$ assessment_iso.php
RewriteRule ^assessment_5c?$ assessment_5c.php
RewriteRule ^assessment_tb?$ assessment_tb.php
RewriteRule ^assessment_jdu?$ assessment_jdu.php
RewriteRule ^assessment_bt?$ assessment_bt.php


RewriteRule ^journals?$ journals.php
RewriteRule ^library?$ library.php