DirectoryIndex index.php
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteEngine On
RewriteRule ^home?$ index.php
RewriteRule ^index?$ index.php
RewriteRule ^mbtbb?$ mbtbb.php
RewriteRule ^cbmember?$ cbmember.php
RewriteRule ^cb_N_Ariunjargal?$ cb_N_Ariunjargal.php
RewriteRule ^cb_N_Ariunjargal_eng?$ cb_N_Ariunjargal_eng.php
RewriteRule ^cb_L_Urantsetseg?$ cb_L_Urantsetseg.php
RewriteRule ^cb_L_Urantsetseg_eng?$ cb_L_Urantsetseg_eng.php
RewriteRule ^cb_O_Urangoo?$ cb_O_Urangoo.php
RewriteRule ^cb_O_Urangoo_eng?$ cb_O_Urangoo_eng.php
RewriteRule ^cb_B_Uranchimeg?$ cb_B_Uranchimeg.php
RewriteRule ^cb_B_Uranchimeg_eng?$ cb_B_Uranchimeg_eng.php
RewriteRule ^cb_T_Oyuntsertseg?$ cb_T_Oyuntsertseg.php
RewriteRule ^cb_T_Oyuntsertseg_eng?$ cb_T_Oyuntsertseg_eng.php
RewriteRule ^cb_Ts_Khishigjargal?$ cb_Ts_Khishigjargal.php
RewriteRule ^cb_Ts_Khishigjargal_eng?$ cb_Ts_Khishigjargal_eng.php
RewriteRule ^cb_M_Khishigdelger?$ cb_M_Khishigdelger.php
RewriteRule ^cb_M_Khishigdelger_eng?$ cb_M_Khishigdelger_eng.php
RewriteRule ^cb_L_Oyun?$ cb_L_Oyun.php
RewriteRule ^cb_L_Oyun_eng?$ cb_L_Oyun_eng.php
RewriteRule ^cb_L_Badamtsetseg?$ cb_L_Badamtsetseg.php
RewriteRule ^cb_L_Badamtsetseg_eng?$ cb_L_Badamtsetseg_eng.php
RewriteRule ^cb_J_Ariunzul?$ cb_J_Ariunzul.php
RewriteRule ^cb_J_Ariunzul_eng?$ cb_J_Ariunzul_eng.php
RewriteRule ^cb_A_Oyungerel?$ cb_A_Oyungerel.php
RewriteRule ^cb_A_Oyungerel_eng?$ cb_A_Oyungerel_eng.php
RewriteRule ^cb_B_Baljinnyam?$ cb_B_Baljinnyam.php
RewriteRule ^cb_B_Baljinnyam_eng?$ cb_B_Baljinnyam_eng.php
RewriteRule ^cb_D_Ariunzul?$ cb_D_Ariunzul.php
RewriteRule ^cb_D_Ariunzul_eng?$ cb_D_Ariunzul_eng.php
RewriteRule ^cb_G_Ganzorigt_eng?$ cb_G_Ganzorigt_eng.php
RewriteRule ^cb_D_Narmandah_eng?$ cb_D_Narmandah_eng.php
RewriteRule ^cb_B_Erdenechimeg_eng?$ cb_B_Erdenechimeg_eng.php
RewriteRule ^cb_O_Sergelen_eng?$ cb_O_Sergelen_eng.php
RewriteRule ^cb_H_Davaasuren_eng?$ cb_H_Davaasuren_eng.php

RewriteRule ^mbbtb_brochure?$ mbbtb_brochure.php
RewriteRule ^application?$ application.php
RewriteRule ^application_bm?$ application_bm.php
RewriteRule ^application_bam?$ application_bam.php
RewriteRule ^application_bmm?$ application_bmm.php
RewriteRule ^application_re?$ application_re.php
RewriteRule ^certificate?$ certificate.php
RewriteRule ^certificate_redeem?$ certificate_redeem.php
ErrorDocument 404 underconstruction

RewriteRule ^faqs?$ faqs.php
RewriteRule ^contact?$ contact.php
RewriteRule ^contact_mbtbb?$ contact_mbtbb.php
RewriteRule ^contacting?$ contacting.php
RewriteRule ^contacting_mbtbb?$ contacting_mbtbb.php
RewriteRule ^login?$ login.php
RewriteRule ^logining?$ views/logining.php
RewriteRule ^logout?$ views/logout.php
RewriteRule ^register?$ register.php
RewriteRule ^registering?$ registering.php


RewriteRule ^about?$ about.php
RewriteRule ^experts?$ experts.php
RewriteRule ^expert_time?$ expert_time.php
RewriteRule ^projects?$ projects.php
RewriteRule ^news?$ news.php
RewriteRule ^contact?$ contact.php
RewriteRule ^contacting?$ contacting.php
RewriteRule ^cases?$ cases.php
RewriteRule ^knowledge?$ knowledge.php
RewriteRule ^podcast?$ podcast.php
RewriteRule ^report?$ report.php

RewriteRule ^career?$ career.php

RewriteRule ^cannabis?$ cannabis.php


RewriteRule ^faqs?$ faqs.php
RewriteRule ^greetings?$ greetings.php
RewriteRule ^values?$ values.php
RewriteRule ^donate?$ donate.php
RewriteRule ^cooperation?$ cooperation.php
RewriteRule ^become?$ become.php
RewriteRule ^report?$ report.php
RewriteRule ^qrcheck?$ qrcheck.php
RewriteRule ^events?$ events.php
RewriteRule ^history?$ history.php
RewriteRule ^membership?$ membership.php
RewriteRule ^partners?$ partners.php
RewriteRule ^members?$ members.php
RewriteRule ^schedule?$ schedule.php
RewriteRule ^events?$ events.php
RewriteRule ^events1?$ events1.php
RewriteRule ^dashboard?$ dashboard.php
RewriteRule ^dashboard1?$ dashboard1.php
RewriteRule ^dashboard2?$ dashboard2.php
RewriteRule ^history?$ history.php
RewriteRule ^summit?$ summit.php
RewriteRule ^password_change?$ password_change.php
RewriteRule ^profile?$ profile.php




RewriteRule ^submit?$ submit.php

RewriteRule ^register?$ register.php
RewriteRule ^register_individual?$ register_individual.php
RewriteRule ^register_organisation?$ register_organisation.php
RewriteRule ^registering_individual?$ registering_individual.php
RewriteRule ^registering_organisation?$ registering_organisation.php

RewriteRule ^training?$ training.php
RewriteRule ^assessment?$ assessment.php


RewriteRule ^assessment_nuat_intro?$ assessment_nuat_intro.php
RewriteRule ^assessment_nuat?$ assessment_nuat.php
RewriteRule ^assessment_dt_intro?$ assessment_dt_intro.php
RewriteRule ^assessment_dt?$ assessment_dt.php
RewriteRule ^assessment_bt_intro?$ assessment_bt_intro.php
RewriteRule ^assessment_bt?$ assessment_bt.php
RewriteRule ^assessment_tb_intro?$ assessment_tb_intro.php
RewriteRule ^assessment_tb?$ assessment_tb.php
RewriteRule ^assessment_climate_intro?$ assessment_climate_intro.php
RewriteRule ^assessment_climate?$ assessment_climate.php
RewriteRule ^assessment_iso?$ assessment_iso.php
RewriteRule ^assessment_5c?$ assessment_5c.php
RewriteRule ^assessment_jdu?$ assessment_jdu.php
RewriteRule ^assessment_bc?$ assessment_bc.php
RewriteRule ^assessment_mm?$ assessment_mm.php
RewriteRule ^amm?$ amm.php


RewriteRule ^journals?$ journals.php
RewriteRule ^library?$ library.php

RewriteRule ^abb?$ abb.php
RewriteRule ^abb_join?$ abb_join.php
RewriteRule ^awards?$ awards.php