DirectoryIndex index.php
RewriteEngine On
RewriteRule ^home?$ index.php
RewriteRule ^index?$ index.php

ErrorDocument 404 underconstruction

RewriteRule ^faqs?$ faqs.php
RewriteRule ^login?$ login.php
RewriteRule ^logout?$ views/logout.php
RewriteRule ^register?$ register.php


RewriteRule ^about?$ about.php
RewriteRule ^projects?$ projects.php
RewriteRule ^news?$ news.php
RewriteRule ^contact?$ contact.php
RewriteRule ^contacting?$ contacting.php


RewriteRule ^career?$ career.php

RewriteRule ^cannabis?$ cannabis.php


RewriteRule ^faqs?$ faqs.php
RewriteRule ^greetings?$ greetings.php
RewriteRule ^values?$ values.php
RewriteRule ^donate?$ donate.php
RewriteRule ^cooperation?$ cooperation.php
RewriteRule ^become?$ become.php
RewriteRule ^report?$ report.php
RewriteRule ^qrcheck?$ qrcheck.php
RewriteRule ^events?$ events.php
RewriteRule ^history?$ history.php
RewriteRule ^membership?$ membership.php
RewriteRule ^partners?$ partners.php
RewriteRule ^members?$ members.php
RewriteRule ^schedule?$ schedule.php
RewriteRule ^events?$ events.php
RewriteRule ^events1?$ events1.php
RewriteRule ^dashboard?$ dashboard.php
RewriteRule ^dashboard1?$ dashboard1.php
RewriteRule ^dashboard2?$ dashboard2.php
RewriteRule ^history?$ history.php
RewriteRule ^summit?$ summit.php

RewriteRule ^submit?$ submit.php

RewriteRule ^register?$ register.php
RewriteRule ^register_individual?$ register_individual.php
RewriteRule ^register_organisation?$ register_organisation.php
RewriteRule ^registering_individual?$ registering_individual.php
RewriteRule ^registering_organisation?$ registering_organisation.php

