.border-left
{
    background: url(../images/border-left.png);
    background-position:  bottom left;
    background-repeat: no-repeat;
    min-height: 70px;
}

.border-right
{
    background: url(../images/border-right.PNG);
    background-position:  bottom right;
    background-repeat: no-repeat;
    min-height: 70px;
}
.border-left ul,.border-right ul {padding: 0px; margin: 0px;}
.border-left ul li, .border-right ul li {width: 150px; text-align: center;}



#content {
    width: 100%;
    padding: 150px;
}

#content .content-info {
    width: 100%;
    background: url('../images/content.jpg');
    background-size: cover;
    min-height: 80%;
    border-radius: 10px;
    color: #ffffff;

}

#content .content-info h5 {
    font-size: 50px;
    padding: 10rem;
}

#content .content-info h3 {
    font-size: 50px;
    padding: 10rem;
}

#content .content-info .box {
    display: flex;
    justify-content: space-around;
    color: #ffffff;
    margin: 0rem;
    text-align: left;
    flex: 1;
    align-items: flex-end;
}

#content .content-info .box .box-1, #content .content-info .box .box-2 ,#content .content-info .box .box-3 {
    border: gray solid 1px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 1rem;
    height: 200px;
    padding: 3.5rem 3.5rem;
    width: 30%;
}

#content .content-info .box .icon {
    float: right;
    font-size: 33px;
    padding-top: 20px;
    width: 100%;
    text-align: right;
    padding: 1rem 1rem;
}