DirectoryIndex dashboard.php
RewriteEngine On
RewriteRule ^home?$ index.php
RewriteRule ^index?$ index.php

RewriteRule ^login?$ login.php
RewriteRule ^logining?$ views/logining.php
RewriteRule ^logout?$ views/logout.php

RewriteRule ^dashboard?$ dashboard.php
RewriteRule ^settings?$ settings.php

RewriteRule ^products?$ products.php
RewriteRule ^teachers?$ teachers.php
RewriteRule ^users?$ users.php
RewriteRule ^lessons?$ lessons.php
RewriteRule ^faqs?$ faqs.php
RewriteRule ^news?$ news.php
RewriteRule ^events?$ events.php
RewriteRule ^pages?$ pages.php
RewriteRule ^slider?$ slider.php
RewriteRule ^partners?$ partners.php

RewriteRule ^projects?$ projects.php
RewriteRule ^membership?$ membership.php

RewriteRule ^organisations?$ organisations.php
RewriteRule ^persons?$ persons.php
RewriteRule ^podcasts?$ podcasts.php
RewriteRule ^reports?$ reports.php

RewriteRule ^feedback?$ feedback.php
RewriteRule ^experts?$ experts.php
RewriteRule ^courses?$ courses.php
RewriteRule ^magazine?$ magazine.php
RewriteRule ^books?$ books.php

